/* signup_form.css */
@font-face {
    font-family: Norsebold;
    src: url('norse/Norsebold.woff');
}

html, body {
  margin: 0;
  padding: 0;
}

.split-left{ order:1;}
.split-right{ order:2;}
.split-container {
    display: flex;
    min-height: 100vh;
}
    
.split-right h2 {
    margin-left: 45px;
}


h2, h3 {
    font-family: Arial, sans-serif;
    width: 40vw;
    font-size: 25px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: justify;
    text-align: justify;
    margin-right:  0px;
}

h3,
.text-block {
  grid-column: 1 / -1;
}

.split-left {
    flex: 40%;
		position: relative;
   
}
.split-right {
   flex: 60%;
	 padding: 180px 80px;
	 box-sizing: border-box;

}

.left-bg {
    margin:0;
    padding:0;
    position: absolute;
    width: 768px;
    height: 100%;
    left: 0;
    
    background-size: fill;
    background-position: center;
    z-index: -1;
}

form{
   display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 32px; /* row | column */
  max-width: 700px;
  
}

.form-group {
    display: flex;
    flex-direction: column;
    
}

.form-card {
background: #ffff;
border: 1px solid #ddd;
border-radius: 12px;

padding: 20px 40px;
width: 770px;

box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);

margin: 8px 5px 20px 0;

}

.form-group input{
  width: 100%;
  height: 40px;
  padding: 0px 2px;
  border: 2px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	border-color:rgb(0 0 0 0);
    
}


:invalid{
		border-color: red;
}
:link{
		color: #1ed637;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 15vw;
    font-size: 15px;
    color: #fff;
    text-align: center;

    :visited{
        color: #ccc;
    }
    :link{
        color: #ccc;
    }
}

.odin-banner {
  background: rgba(0, 0, 0, 0.45);
  position: relative;
  top: 172.8px;
  left: 0;
  padding: 54px 20.25rem;   /* height | width */
  width: 120px;
  height: 100px;

}

.logo-bg {
    position: absolute;
    height: 120px;
    width: 95px;
    left: 230px;
    bottom: 2.5vw;
    
}

.odin-banner > p {
    font-family: Norsebold;
    src: url('norse/Norsebold.woff');
    font-size: 90px;
    color: #fff;
    text-align: center;
    margin-top: -3px;
}

.text-block p {
		font-family: Arial, sans-serif;
		font-size: 15px;
		color: #333;
		line-height: 0;
		text-align: justify;
		margin-right: 0;
}

.styled {
	border-radius: 7px;
	width: 120px;
	height: 35px;
	color:white;
	background-color: #596D48;
	grid-column: 1 / -1;
	
}

.styled:hover {
	background-color: #455634;
	cursor: pointer;
}

:link:hover {
		color: #63ff7a;
		cursor: pointer;
}

input:invalid {
		box-shadow: 0 0 5px red;
		background-color:ivory;
}